.iac25-hero {
    text-align: center;  
    padding-top: 3.5em;
    padding-bottom: 2em; 
}
  
/**
 * Overrides for Genesis widgets
 */
.front-page-1 .flexible-widgets,
.front-page-2 .flexible-widgets,
.front-page-3 .flexible-widgets,
.front-page-4 .flexible-widgets,
.front-page-5 .flexible-widgets,
.front-page-6 .fleixble-widgets,
.front-page-7 .flexible-widgets {
  min-width: 360px;
  max-width: 960px;
  margin: auto;
  padding: 25px 0 25px 0;
}

.front-page-1 {
 background: var(--color-blue);
 color: var(--color-orange);
}

.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6,
.front-page-7 {
  max-width: 800px;
  margin: auto;
}

.frontpage-hero {
  font-size: 7em; 
  margin-bottom: 0;
  line-height: 1;
}

h1.frontpage-hero {
  font-family: Raptor !important;
}

.frontpage-hero-loc {
  letter-spacing: .18em;
}
  
.frontpage-theme {
  font-weight: 400;
  margin-top: 2.3em;
}

.iac24-dates {
  margin-top: 2em;
  padding-bottom: 2em;
}

.front-page-button {
  background-image: linear-gradient(to right, #E81C28, #FF0195);
  color: #1E1E1E;
  border-style: solid;
  border-color: #1E1E1e;
  border-width: 2px;
  border-radius: 20px;
  font-weight: 800;
  margin-top: 1.5rem;
}

.front-page-button a {
  background: inherit;
  color: #1e1e1e;
  font-size: 1.3rem;
  margin-bottom: 0;
  padding-bottom: 14px;
}

.widget-title {
  font-size: 2em;
  padding-bottom: 1rem;
  margin-top: 1em;
  margin-bottom: 1em;
}


.site-footer .widget-title {
  border-bottom: 0;
  margin-top: 0;
}

.co-chair {
  float: left;
  margin-right: 3em;
  margin-bottom: 3em;
}

.co-chair img {
   filter: grayscale(100%);
   border-radius: 30px;
}

.co-chair a {
  color: #FD028F !important;
  text-transform: uppercase;
  font-weight: bold !important;
}